// Define variables for your color scheme

// For example:
$app-white: #FFFFFB;
$red: #E74754;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #1E1E1E;
$light-gray: #F4F4F4;
