// BANNER

.home-container {
  padding: 60px 0;
  margin: 0 16px;
}

#home-banner {
  background-color: $app-white;
  color: $gray;
  position: relative;
}

.home-banner-content {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#home-banner-left {
  display: flex;
  align-items: center;
  width: 100%;
  #typed-div {
    position: relative;
    bottom: 40px;
    width: 300%;
  }
}

#banner-sign-up {
  width: 50%;
}

#map-home {
  max-width: 140%;
  height: auto;
  margin-left: -125px;
}

#typed {
  font-family: "Krub";
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 1.5px;
}

.typed-cursor {
  font-size: 25px;
  margin: 1.5px;
  position: relative;
  top: 2px;
}

.arrow-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
}

#arrow {
  cursor: pointer;
  width: 18px;
  opacity: 0.9;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  -o-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  30%, 70% {
    transform: translateY(-20px);
  }
}
#arrow-scroll-anchor {
  position: relative;
  bottom: 64px;
}

// TAGLINES

#taglines-section {
  background-color: #26547C;
  color: white;
  font-weight: lighter;
  h4 {
    font-family: "Krub";
    margin: 50px 0px;
    letter-spacing: 1.5px;
  }
  p {
    font-family: "Krub";
    margin: 20px 50px 60px 30px;
    letter-spacing: 1.5px;
    line-height: 1.8;
    text-align: justify;
  }
}

#learn-local-title {
  margin-top: 20px !important;
}

#tagline-second-description {
  margin-left: 60px !important;
}

#money-icon {
  position: relative;
  width: 200px;
  top: -50px;
}

#learn-icon {
  position: relative;
  width: 210px;
  top: 10px;
  left: 50px;
}

#globe-icon {
  position: relative;
  width: 200px;
  top: -30px
}

// LANGUAGES

#languages-home-section {
  background-color: $app-white;
  font-family: "Krub";
  color: $gray;
  letter-spacing: 1.5px;
  line-height: 1.8;
}

#our-courses-header {
  font-size: 34px;
  text-align: center;
  margin: 50px 0;
  letter-spacing: 12px;
  font-weight: 700;
}

.language-home {
  h4 {
    font-weight: 600;
    margin: 50px 0;
  }
  p {
    margin: 20px 30px 20px 30px;
  }
}

.language-home-description {
  margin: 30px 0;
}

.find-out-more {
  color: $red;
  font-weight: 500;
  margin-left: 30px;
  &:hover {
    text-decoration: none;
    color: #be3b45;
  }
}
