.languages-page {
  background-color: $app-white;
  min-height: 100vh;
  font-family: "Krub";
  color: $gray;
  letter-spacing: 1.5px;
  h4 {
    letter-spacing: 2px;
    font-weight: 600;
    margin: 40px 0px;
    font-size: 22px;
  }
  p {
    font-size: 18px;
    margin: 0 30px 50px 30px;
  }
}

#languages-header {
  font-family: "Raleway";
  font-size: 40px;
  text-align: center;
  margin: 50px 0;
  letter-spacing: 16px;
  font-weight: 700;
  color: $gray;
}

#language-top-description {
  text-align: center;
}

#urdu-lists {
  margin: -10px 0 30px 30px;
  h5 {
    margin-bottom: 16px;
  }
  li {
    line-height: 1.8;
  }
}
