<div id="about-page">
  <div class="container">
    <div class="home-container">
      <h1 class="raleway-header">ABOUT US</h1>
      <p>London Learning Cooperative was set up in 2016 to deliver affordable private tuition. With costs of at least £30 per session, most people cannot afford to benefit from 1-1 tuition. Our solution was simple: run lessons and charge students different prices depending on how much they can afford. We have designed an affordable pricing system, called the wealth test, in order to guide how much each person should be paying  so that we can pay tutors and make sure everyone can afford tuition.<br><br>LLC aims to forge links across the world to build a truly internationalist approach to learning. That our community should have emerged in London, the heart of one of humanity’s most powerful empires, is subversive in and of itself. We are already developing links of material solidarity, and fostering the emergence of sister organisations, in far-flung corners of the British Empire: Pakistan, Gaza, Derry, with more to come.<br><br>Lastly, LLC aims to become a worker cooperative, giving money and power back to the workers who make the business what it is. The first stage of this is to pay everyone in our company the same wage, no matter where they live in the world. We are also committed to paying good wages for coordinates and tutors. We have therefore decided to set the wage at £12.70 per hour. This is the London Living Wage adjusted upwards to account for only working a 4-day week.</p>
      <h4>Affordable pricing</h4>
      <p>LLC charges prices on a pay what you can afford basis. As a guide for how much you should be paying, we have devised a simple set of questions (called the wealth test), that take into account your income and wealth to give you a suggested price. Put simply, the more wealth and income you have, the more you pay. The reasons for this are simple. We want everyone to be able to afford private tuition. By charging people different prices, we can offer more lessons to a greater number of people who otherwise wouldn’t be able to afford it.</p>
      <p>The Wealth Test asks 7 basic questions, in order to determine the price a person should be paying. These 6 questions are:</p>
      <div class="llc-lists">
        <ol>
          <li>What is your average monthly income?</li>
          <li>How much wealth do you own?</li>
          <li>How many dependents are you responsible for?</li>
          <li>Did you or your parents go to university?</li>
          <li>What is your housing situation?</li>
          <li>Do you expect to inherit wealth?</li>
        </ol>
      </div>
      <p>Your income is the most important factor for determining your income, followed by wealth and then the rest.<br><br>The wealth test is a guide. It gives suggested rather than fixed prices. You have the choice to decide whether you really think it is fair or affordable. If you disagree with the suggested price, there is the option of moving up or down a price band. If you still disagree, you have the final option of accepting our breakeven price  the minimum price we can charge without losing any money on the lesson.<br><br>An important feature of the wealth test is that it is 100% anonymous and honesty based. The personal and financial information that you enter into the website is not stored or saved by LLC.  It is fundamentally up to you to decide what price you believe is affordable.</p>
    </div>
  </div>
</div>
