<div id="contact-page">
  <div class="container">
    <div class="home-container" style="min-height: 100vh;">
      <h1 class="raleway-header">CONTACT</h1>
        <div id="contact-details">
          <p>Email: londonlearningcoop@gmail.com</p>
          <p>Mobile: 07837741825</p>
        </div>
    </div>
  </div>
</div>
